@media screen and (max-width: 768px) {
    #serviços div {
        display: block;
        width: 100%;
        padding: 20px;
        margin: 5% auto;
        font-weight: bold;
    }

    .height {
        display: flex;
        text-align: center;
        flex-direction: column;

    }
}





@media screen and (max-width: 1340px) {
    .navbar {
        position: relative;
    }

    .logo {
        text-align: center;
        margin-right: 5%;
    }

    .menu {
        display: none;
    }

    .header {
        height: auto;
    }

    .headline {
        flex: 100%;
        text-align: center;
        margin: 5%;
    }

    .img-headline {
        flex: 100%;
        text-align: center;
        margin-bottom: 5%;
    }



}

@media screen and (max-width: 1440px) {

    .logo {
        width: 100%;
        margin-left: 5%;
    }

    .headline {
        margin-left: 5%;
    }

    .img-headline {
        margin-right: 5%;
    }
}



@media screen and (max-width: 1658px) {

    section {
        margin-top: 10%;
    }

    .serviços div {
        overflow-y: auto;

        height: 280px;
        padding: 20px;
        overflow-y: auto;

        /* Firefox */
        scrollbar-width: 1px;

        /* Evita layout quebrar */
        scrollbar-gutter: stable;
    }

    /* Chrome, Edge, Safari */
    .serviços div::-webkit-scrollbar {
        display: flex;
    }

}